.collapse {
    width: 100%;
}

.collapse_bloc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
    height: 30px;
}

.collapse_bloc p {
    font-weight: bold;
}

.collapse_bloc i {
    cursor: pointer;
}

.collapse_content p, .collapse_content ul {
    margin: 10px;
}

@media screen and (min-width: 1025px) {
    .collapse_bloc {
        height: 60px;
        border-radius: 10px;
    }

    .collapse_bloc p {
        font-size: 1.2em;
    }

    .collapse_bloc i {
        font-size: 1.4em;
        padding-right: 10px;
    }
}