.equipment_list {
    display: flex;
    flex-direction: column;
}

.logement_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titles_part {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.titles h1 {
    color: #FF6060;
    font-size: 1.3em;
    font-weight: normal;
    font-weight: 500;
}

.titles h2 {
    font-size: 0.9em;
    font-weight: normal;
    font-weight: 500;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.user_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name_profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.name_profil p {
    max-width: 80px;
    text-align: right;
    color: #FF6060;
}

.image_circle {
    width: 50px;
    height: 50px;
}

.image_circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 1025px) {
    .infos {
        gap: 30px;
    }

    .logement_content {
        flex-direction: row;
        justify-content: space-between;
    }

    .titles_part {
        gap: 25px;
    }

    .titles h1 {
        font-size: 2.5em;
    }

    .titles h2 {
        font-size: 1.4em;
    }

    .user_infos {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .name_profil p {
        max-width: 120px;
        font-size: 1.6em;
    }

    .image_circle {
        width: 90px;
        height: 90px;
    }

    .dropdowns {
        flex-direction: row;
        gap: 60px;
    }
}